@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

page-onboarding {
.notice{
	font-size:15px;
	color:#047b51;
}

.scroll-content{overflow-y: hidden!important;overflow-x: hidden!important;}
.notice p {
    color: #333;
    font-family: "Great Vibes",cursive;
    font-size: 16px;
    height: 90px;
    line-height: 62px;
}

}
