page-register {
.signup-bgimg{background-image: url('../assets/images/login.jpg');width:100%;background-repeat: no-repeat;background-size: cover;position:relative;}
.signup-bgimg .scroll-content							{padding:2px !important;}
.ion-cardpage											{margin:0px !important;}
.login-reg												{margin:130px 10px 10px; background:rgba(255, 255, 255, 0.73);border-radius:0px !important; position:relative;}
.login-reg .list-md .item-md .item-inner .input-md		{font-size:15px; color:#000; border:1px solid #06b16c;margin: 11px;}
.login-reg .list-md .item-md .item-inner				{padding-right:0px !important;}
.login-reg .list-md .item-md							{padding-left:0px !important; background:none;}
.login-btn												{float:right;margin-top:-34px; padding:0px; position:relative; background:rgba(0, 0, 0, 0) linear-gradient(to right, #06b16d 0%, #09b674 33%, #10c287 51%, #15cb94 68%, #16cc95 100%); border-radius:0px; width:92%;}

.login-bgimg											{background-image: url('../assets/images/login.jpg');width:100%;background-repeat: no-repeat; background-size: cover; min-height:500px;max-height:540px;height:100%;}
.forgot a												{text-align:center; color:#fff; font-size:15px; width:100%; float:left; line-height:40px; }
.list-md .item-input:last-child							{border-bottom:none !important;}
.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{border-bottom-color:none;box-shadow:none;}
.login-btn .button-inner								{color:#fff;font-size:20px;font-weight:400;text-transform:capitalize;}
.login-btn .button-inner i.fa-angle-double-right		{float:right;font-size:50px;font-weight:400;position:absolute;right:9px;top:-6%;}
.log-reg												{ 
    top:25px;
    position: absolute;
  
    z-index: 99;}
.log-reg img{float:left;
    height: 150px;
    width: 280px;}
.list-ios > .item-block:first-child{border-top:none;}
.login-reg .list-ios .item-ios .item-inner .input-ios		{font-size:15px; color:#000; border:1px solid #06b16c;margin: 11px;}
.login-reg .list-ios .item-ios .item-inner				{padding-right:0px !important;}
.login-reg .list-ios .item-ios							{padding-left:0px !important; background:none;}
.login-btn												{float:right;margin-top:-34px; padding:0px; position:relative; background:rgba(0, 0, 0, 0) linear-gradient(to right, #06b16d 0%, #09b674 33%, #10c287 51%, #15cb94 68%, #16cc95 100%); border-radius:0px; width:92%;}

}
