page-dashboard {
 #map {
        height: 100%;
    }
    .ngoWindow{
       font-size:22px;
    }
    .ngo-wintitle{
    font-weight: bold;
    color:#c31f41;
    }
}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}