@import url('https://fonts.googleapis.com/css?family=Padauk');
page-ngo-list {
.searchbar-md{padding:0px; margin-bottom:15px;}
.register-form{margin:55px 10px 10px;}
.search-icons{ padding:10px 10px 0px 10px;}
.searchbar-md .searchbar-input{border:1px solid #d2d2d2;border-radius:25px; font-weight:400;box-shadow:none;font-size:17px;line-height:30px;padding:5px 55px;}
.searchbar-md .searchbar-search-icon{height:21px;left:16px;top:11px;width:21px;background-image: url('../assets/images/search.png'); }
.searchbar-md .searchbar-clear-icon{background:url('../assets/images/close.png') 0px 10px no-repeat;}
.login-bgimg											{background:#fff4e9;}
.card-md{background: rgba(0, 0, 0, 0) linear-gradient(45deg, white 0%, white 88%, green 100%) repeat scroll 0 0;}
.card-ios{background: rgba(0, 0, 0, 0) linear-gradient(45deg, white 0%, white 88%, green 100%) repeat scroll 0 0;}
.listed-ngo{box-shadow:none !important;  }
.login-bgimg .scroll-content{padding:0px !important;}
.donoted-notlisted{background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 88%, rgba(255,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(88%, rgba(255,255,255,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 88%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 88%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 88%, rgba(255,0,0,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 88%, rgba(255,0,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */}
.listed-ngo .row .col{  font-size:18px; color:#333; font-weight:400; font-family: "Padauk",sans-serif; padding:0px; margin-bottom:5px;}
.listed-ngo .row .col i{  font-size:15px; color:#052078; font-weight:400; padding-right:5px;}
.listed-ngo .row .col p{ font-size:18px; color:#052078; font-weight:400; font-family: "Padauk",sans-serif; margin:0px;padding-left:3px;}
.listed-ngo .row .col b{ font-size:15px; color:#6a7a7a; font-weight:400; font-family: "Padauk",sans-serif; margin:0px;padding-left:3px;}
.listed-ngo .row .col span{ font-size:18px; color:#0fc083; font-weight:400; font-family: "Padauk",sans-serif; margin:0px;padding-left:3px;}
.listed-ngo .row .col strong{ font-size:15px; color:#666; font-weight:400; font-family: "Padauk",sans-serif; margin:0px;padding-left:3px;}
.listed-ngo .row .col small{ font-size:15px; color:#333; font-weight:400; font-family: "Padauk",sans-serif; margin:0px;padding-left:3px;}


/*------------------------------Ios css------------------------------*/
.searchbar-ios{background:none;border-top:none !important;border-bottom:none !important;}
.searchbar-ios{padding:0px; margin-bottom:15px;}
.register-form{margin:55px 10px 10px;}
.search-icons{ padding:10px 10px 0px 10px;}
.searchbar-ios .searchbar-input{border:1px solid #e2e0ec; height:40px !important;border-radius:25px; font-weight:400;box-shadow:none;font-size:17px;line-height:30px;padding:5px 55px;}
.searchbar-ios .searchbar-search-icon{height:21px;left:16px;top:11px;width:21px;background-image: url('../assets/images/search.png'); background-size: 19px auto; }
.searchbar-ios .searchbar-clear-icon{background:url('../assets/images/close.png') 0px 10px no-repeat;}
.searchbar-ios.searchbar-left-aligned .searchbar-input{ padding-left:45px !important;}
/*------------------------------Ios css end------------------------------*/


} 
