page-search {
.location-search{}
.location-search .item-md{ padding-left:0px; min-height:40px; font-size:18px;}
.location-search .item-md .item-inner .label-md { margin:0px !important; font-size:18px; padding-left:8px;}
.location-search .item-md .item-inner .label-md span{ font-size:16px;}

.location-search .item-input ion-input, .item-input ion-textarea{ font-size:15px; color:#333;}
.location-search .select-md{ margin:0px; }
.select-text{ font-size:17px;}
.location-search ion-select{ width:100%;}
}
